*
    padding: 0
    margin: 0

body
    background: url('/images/background.png') center
    // regular 400, semibold 600, bold 700
    font-family: 'Vazirmatn', sans-serif
    ul
        list-style-type: none
